/node_modules
/public/hot
/public/storage
/public/.htaccess
public/.htaccess
/storage/*.key
/vendor
/vendor/composer/*
/vendor/composer
/.idea
.idea/workspace.xml
/.idea/workspace.xml
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
