
.pt-150 { padding-top: 150px; }
.pt-100 { padding-top: 100px; }
.pt-75 { padding-top: 75px; }
.pt-50 { padding-top: 50px; }
.pt-25 { padding-top: 25px; }
.pt-15 { padding-top: 15px; }
.pt-10 { padding-top: 10px; }
.pt-5 { padding-top: 5px; }
.pt-0 { padding-top: 0px; }

.mt-100 { margin-top: 100px; }
.mt-75 { margin-top: 75px; }
.mt-50 { margin-top: 50px; }
.mt-25 { margin-top: 25px; }
.mt-15 { margin-top: 15px; }
.mt-5 { margin-top: 5px; }
.mt-0 { margin-top: 0px; }

.mb-100 { margin-bottom: 100px; }
.mb-75 { margin-bottom: 75px; }
.mb-50 { margin-bottom: 50px; }
.mb-25 { margin-bottom: 25px; }
.mb-15 { margin-bottom: 15px; }
.mb-5 { margin-bottom: 5px; }
.mb-0 { margin-bottom: 0px; }

.ml-100 { margin-left: 100px; }
.ml-75 { margin-left: 75px; }
.ml-50 { margin-left: 50px; }
.ml-25 { margin-left: 25px; }
.ml-15 { margin-left: 15px; }
.ml-5 { margin-left: 5px; }
.ml-0 { margin-left: 0px; }

.mr-100 { margin-right: 100px; }
.mr-75 { margin-right: 75px; }
.mr-50 { margin-right: 50px; }
.mr-25 { margin-right: 25px; }
.mr-15 { margin-right: 15px; }
.mr-5 { margin-right: 5px; }
.mr-0 { margin-right: 0px; }

.pb-150 { padding-bottom: 150px; }
.pb-100 { padding-bottom: 100px; }
.pb-75 { padding-bottom: 75px; }
.pb-50 { padding-bottom: 50px; }
.pb-25 { padding-bottom: 25px; }
.pb-15 { padding-bottom: 15px; }
.pb-5 { padding-bottom: 5px; }
.pb-0 { padding-bottom: 0px; }

.pl-100 { padding-left: 100px; }
.pl-75 { padding-left: 75px; }
.pl-50 { padding-left: 50px; }
.pl-25 { padding-left: 25px; }
.pl-15 { padding-left: 15px; }
.pl-5 { padding-left: 5px; }
.pl-0 { padding-left: 0px; }

.pr-100 { padding-right: 100px; }
.pr-75 { padding-right: 75px; }
.pr-50 { padding-right: 50px; }
.pr-25 { padding-right: 25px; }
.pr-15 { padding-right: 15px; }
.pr-5 { padding-right: 5px; }
.pr-0 { padding-right: 0px; }

.padding-no { padding: 0;}



.text-purple { color: #6772e5; }
.text-darkpurple { color: rgb(45, 53, 80); }
.text-darkgreen { color: #0d2b3e; }
.text-pink { color: #6772e5; }
.text-lightgreen { color: rgb(185, 244, 188); }
.text-greenish { color: #24b47e; }
.text-orange { color: #ff8b54; }
.text-lightpurple { color: #8f6ed5; }
.text-lightgrey { color: #6b7c93; }
.text-gold { color: #F7C873; }
.text-tester { color: #12CC94; }
.text-reallydarkpurple { color: #626F92; }
.text-slade { color: #2d3550; }
.text-white { color: white; }
.text-softgrey { color: #8898aa; }
.text-adminpurple { color: #976bd9; }

.bg-slade { background-color: #2d3550;  }
.bg-whiteish { background-color: #f3f9f6; }
.bg-white { background-color: white; }
.bg-purple { background-color: #6772e5; }
.bg-darkpurple { background-color: rgb(45, 53, 80); }

.no-radius { border-radius: 0; }

badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}
.badge-warning {
    background-color: #f89406;
}
.badge-warning:hover {
    background-color: #c67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}
.badge-inverse {
    background-color: #333333;
}
.badge-inverse:hover {
    background-color: #1a1a1a;
}

.btn-purple { background-color: rgb(45, 53, 80); color: white; border-color: rgb(45, 53, 80); }
.btn-purple:hover { background-color: rgb(45, 53, 80); color: white; border-color: white; }


.no-decoration { text-decoration: none; }


.btn-square {
    background-color: transparent;
    font-weight: 400;
    border-radius: 0%;
    color: white;
}


.fw-900 { font-weight: 900; }
.fw-800 { font-weight: 800; }
.fw-700 { font-weight: 700; }
.fw-600 { font-weight: 600; }
.fw-500 { font-weight: 500; }
.fw-400 { font-weight: 400; }
.fw-300 { font-weight: 300; }
.fw-200 { font-weight: 200; }
.fw-100 { font-weight: 100; }




.full-width { width: 100%; }
.width-100 { width: 100%; }
.width-75 { width: 75%; }
.width-50 { width: 50%; }
.width-25 { width: 25%; }
.width-0 { width: 0%; }




.height-100 { height: 100%; }
.height-75 { height: 75%; }
.height-50 { height: 50%; }
.height-25 { height: 25%; }
.height-0 { height: 0%; }


@font-face {
    font-family: stripeFont;
    src: url('../fonts/FagoCo-Black_16729.ttf');
}

.font-stripe {
    font-family: stripeFont;
}

.font-stripe-thin {
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}



.rounded-border {
    padding: 35px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}
.rounded-border-nop {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}

.heading-box {
    border-bottom: #6772e5 1px solid;
}

.statcard {
    background-color: #5a60a6;
    border: #424770 1px solid;
    height: 80px;
    padding: 10px;
    line-height: 4.2vw;
}


.statcard i {
    color: white;
}

.statcard h4 {
    font-size: 14px;
}

.stat-line {
    padding-top: 6px;
    color: white;
    font-weight: 900;
    font-family: Camphor,Segoe UI,Open Sans,sans-serif;
}



body {
    background-color: #f1f5f9;
    font-family: Camphor,Segoe UI,Open Sans,sans-serif;
}

.main-sidebar-header span {
    padding-left: 10px;
    color: #424770;
    font-weight: 600;
    line-height: 1.15;
}

.main-sidebar-header i {
    color: #6772e5;
}


.main-sidebar {
    font-family: Camphor,Segoe UI,Open Sans,sans-serif;
    font-size: 15px;
}

.main-sidebar li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 7px;
    padding-bottom: 7px;
}

.main-sidebar ul {
    padding-left: 0;
}

.main-sidebar li a {
    color: #424770;
    font-weight: 400;
    padding-left:7px;
}

.main-sidebar li i {
    color: #525f7f;
}

.main-sidebar li a:hover {
    text-decoration: none;
}


.btn-circle-sm {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.25;
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
    color: #525f7f;
}

.dash-header {
    max-height: 100px;
    margin-bottom: 20px;
}




.card
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    transition: 0.3s ease-in-out;
}

.card p {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6b7c93;
}

.card .picture {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 100%;
    color: #8f6ed5;
}

.card h2 {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
}

