body {
    padding-top: 150px;
    background-image: url("https://laraveluk.signup.team/images/invite_background_default.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 300;
    line-height: 1.1;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

h1 {
    font-weight: 300;
}
h3 {
    font-weight: 400;
    padding-top: 50px;
}
a {
    text-decoration: none;
    color: white;
}
.fa-home {
    font-weight: 100;
}
a:hover {
    text-decoration: none;
    color: white;
}


.pt-150 { padding-top: 150px; }