body {
    padding-top: 150px;
    background-image: url("../images/misc/pexels-photo-273238.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(45, 53, 80);
    font-weight: 300;
    line-height: 1.1;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

h1 {
    font-weight: 300;
}
h2 {
    font-weight: 300;
}
h3 {
    font-weight: 700;
    padding-top: 20px;
}
a {
    text-decoration: none;
    color: rgb(45, 53, 80);
}
.fa-home {
    font-weight: 100;
}
a:hover {
    text-decoration: none;
    color: rgb(45, 53, 80);
}


.pt-150 { padding-top: 150px; }